{% load i18n %}
{% load hk_generic %}

{% if show_dropdown %}
<a href="" id="navbarMonthsListDrop" class="dropdown-toggle {% if pagename == 'overview' %}btn btn-default{% endif %}" data-toggle="dropdown">
  <span class="hidden-tn hidden-xs">{% trans "Threads by" %}</span>{% trans " month" %} <b class="caret"></b>
</a>
<ul class="dropdown-menu right" role="menu" aria-labelledby="navbarMonthsListDrop">
    {% for year, months in months_list|sort %}
    <li role="presentation" class="dropdown-header disabled">
        <a href="">----- {{ year }} -----</a>
    </li>
    {% for ar_month in months %}
    <li>
        <a href="{% url 'hk_archives_with_month' year=year mlist_fqdn=mlist.name month=ar_month %}"
           >{{ ar_month|monthtodate:year|date:"F" }}</a>
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% elif show_select %}
<select id="months-list" class="form-control">
    {% for year, months in months_list|sort %}
    <option disabled>----- {{ year }} -----</option>
    {% for ar_month in months %}
    <option{% if month and year == month.year and ar_month == month.month %} selected="selected"{% endif %}>{{ ar_month|monthtodate:year|date:"F Y" }}</option>
    {% endfor %}
    {% endfor %}
</select>

{% else %}
<div class="hidden-tn hidden-xs col-sm-2">
<div class="row">
    <div class="panel-group" id="months-list">
        {% for year, months in months_list|sort %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#months-list" href="#collapse{{forloop.counter0}}">
                        {{ year }}
                    </a>
                </h3>
            </div>
            <div id="collapse{{forloop.counter0}}" class="panel-collapse
                {% if month %}
                    {% if year == month.year %} in {% else %} collapse {% endif %}
                {% else %}
                    {% if forloop.counter == 1 %} in {% else %} collapse {% endif %}
                {% endif %}
                ">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {% for ar_month in months %}
                        <li class="{% if month and year == month.year and ar_month == month.month %}current{% endif %}">
                            <a href="{% url 'hk_archives_with_month' year=year mlist_fqdn=mlist.name month=ar_month %}"
                               >{{ ar_month|monthtodate:year|date:"F" }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% if mlist %}
<div class="row">
    {% if pagename != 'overview' %}
    <p><a href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}"
       class="btn btn-default btn-sm">
       <span class="fa fa-backward"></span>
       {% trans "List overview" %}</a></p>
    {% endif %}
    {% if pagename == 'thread' %}
    <p><a href="{% url 'hk_archives_latest' mlist_fqdn=mlist.name %}"
       class="btn btn-default btn-sm">
       <span class="fa fa-backward"></span>
       {% trans "All Threads" %}</a></p>
    {% endif %}

    <!-- Download as mbox -->
    {% if pagename == 'overview' %}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download"></i>
            {% trans "Download" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ export.recent }}">{% trans "Past 30 days" %} <small>(mbox)</small></a></li>
            <li><a href="{{ export.month }}">{% trans "This month" %} <small>(mbox)</small></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'hk_list_export_mbox' mlist_fqdn=mlist.name filename=mlist.name %}">
                {% trans "Entire archive" %} <small>(mbox)</small></a></li>
        </ul>
    </div>
    {% elif export %}
    <p><a href="{{ export.url }}" title="{{ export.title }}"
        class="btn btn-default btn-sm">
        <i class="fa fa-download"></i> {{ export.message }}</a>
    </p>
    {% endif %}
</div>
{% endif %}

</div>
{% endif %}
